@model IEnumerable<Order>

@{
    ViewData["Title"] = "Your Orders";
}

<div class="text-center">
    <h2>Your Orders</h2>

    @if (Model.Any())
    {
        @* <form asp-action="UpdateCart" method="post"> *@
        <form method="post">
            <table class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
    
        </form>
    }
    else
    {
        <p>Your orders are empty. Start shopping!</p>
        <p>
            <a asp-controller="Product" asp-action="ProductsPage" class="btn btn-primary m-3">Shopping now</a>
        </p>
    }
</div>
