@model Customer

@{
    ViewData["Title"] = "Complete Your Profile";
}

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        @* <form id="completeProfileForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
        <form id="completeProfileForm" method="post">
            <div class="text-center">
                <h2>Complete Your Profile</h2>
                <p>Welcome! Please fill in the additional details to complete your account setup.</p>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @* *@
            @* <!-- Nome --> *@
            @* <div class="form-floating mb-3"> *@
            @*     <input asp-for="Customer.Name" class="form-control" aria-required="true" placeholder="Full Name" /> *@
            @*     <label asp-for="Customer.Name">Full Name</label> *@
            @*     <span asp-validation-for="Customer.Name" class="text-danger"></span> *@
            @* </div> *@
            @* *@
            @* <!-- Número de Documento --> *@
            @* <div class="form-floating mb-3"> *@
            @*     <input asp-for="Customer.IdCardNumber" class="form-control" type="number" aria-required="true" placeholder="ID Card Number" /> *@
            @*     <label asp-for="Customer.IdCardNumber">ID Card Number</label> *@
            @*     <span asp-validation-for="Customer.IdCardNumber" class="text-danger"></span> *@
            @* </div> *@
            @* *@
            @* <!-- Cidade --> *@
            @* <div class="form-floating mb-3"> *@
            @*     <input asp-for="Customer.City" class="form-control" aria-required="true" placeholder="City" /> *@
            @*     <label asp-for="Customer.City">City</label> *@
            @*     <span asp-validation-for="Customer.City" class="text-danger"></span> *@
            @* </div> *@
            @* *@
            @* <!-- Endereço --> *@
            @* <div class="form-floating mb-3"> *@
            @*     <input asp-for="Customer.Address" class="form-control" aria-required="true" placeholder="Address" /> *@
            @*     <label asp-for="Customer.Address">Address</label> *@
            @*     <span asp-validation-for="Customer.Address" class="text-danger"></span> *@
            @* </div> *@
            @* *@
            @* <!-- Telefone --> *@
            @* <div class="form-floating mb-3"> *@
            @*     <input asp-for="Customer.Phone" class="form-control" aria-required="true" placeholder="Phone Number" /> *@
            @*     <label asp-for="Customer.Phone">Phone Number</label> *@
            @*     <span asp-validation-for="Customer.Phone" class="text-danger"></span> *@
            @* </div> *@
            @* *@
            @* <!-- Email --> *@
            @* <div class="form-floating mb-3"> *@
            @*     <input asp-for="Customer.Email" class="form-control" type="email" aria-required="true" placeholder="Email Address" /> *@
            @*     <label asp-for="Customer.Email">Email Address</label> *@
            @*     <span asp-validation-for="Customer.Email" class="text-danger"></span> *@
            @* </div> *@
            @* *@
            @* <!-- Número de Cliente --> *@
            @* <div class="form-floating mb-3"> *@
            @*     <input asp-for="Customer.CustomerNumber" class="form-control" type="number" aria-required="true" placeholder="Customer Number" /> *@
            @*     <label asp-for="Customer.CustomerNumber">Customer Number</label> *@
            @*     <span asp-validation-for="Customer.CustomerNumber" class="text-danger"></span> *@
            @* </div> *@
            @* *@
            @* <!-- Botão de Envio --> *@
            @* <button id="completeProfileSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save Profile</button> *@
        </form>
    </div>
</div>
