@model Customer

@{
    ViewData["Title"] = "Profile Page";
}

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="UpdateCustomer" method="post">
            <div class="text-center">
                <h2>Manage your account</h2>
                <p>Change your account settings</p>
            </div>
            <hr />

            <div class="form-group mb-2">
                <label asp-for="Id">Customer Id</label>
                <input asp-for="Id" class="form-control" type="text" id="Id" name="Id"
                       placeholder="Id" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <!-- Full Name -->
            <div class="form-group mb-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" type="text" id="Name" name="Name"
                       placeholder="Ivan Ivanov" required="required"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- ID Card Number -->
            <div class="form-group mb-2">
                <label asp-for="IdCardNumber">Id card number</label>
                <input asp-for="IdCardNumber" class="form-control"
                       type="number" id="IdCardNumber" name="IdCardNumber"
                       placeholder="1234567890" required="required"/>
                <span asp-validation-for="IdCardNumber" class="text-danger"></span>
            </div>

            <!-- City -->
            <div class="form-group mb-2">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control"
                       type="text" id="City" name="City"
                       placeholder="Varna" required="required"/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <!-- Address -->
            <div class="form-group mb-2">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control"
                       type="text" id="Address" name="Address"
                       placeholder="ul. Ivan Vasov 87" required="required"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <!-- Phone Number -->
            <div class="form-group mb-2">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control"
                       type="tel" id="Phone" name="Phone"
                       placeholder="+359 88 8887878" required="required"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <!-- Email -->
            <div class="form-group mb-2">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" type="text" id="Email" name="Email"
                       placeholder="Email" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <!-- User Id -->
            <div class="form-group mb-2">
                <label asp-for="AppUserId"></label>
                <input asp-for="AppUserId" class="form-control" type="text" id="AppUserId" name="AppUserId"
                       placeholder="AppUserId" readonly/>
                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <button type="submit" class="w-100 btn btn-lg btn-primary">
                    Save Profile </button>
            </div>
        </form>
        <div class="mt-5">
            <!-- Delete Button -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="@GetDeleteModalId(Model.Id)">
                <i class="bi bi-trash-fill"></i>
            </button>

            <!-- Delete Modal -->
            <div class="modal fade" id="@GetModalId(Model.Id)" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to delete your account?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form asp-action="Delete" method="post" asp-controller="Customer">
                      <div class="modal-body">
                          <p>This action cannot be undone.</p>
                          <!-- Hidden field to pass the product ID -->
                          <input type="hidden" name="id" value="@Model.Id" />
                      </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@functions
{
    string GetDeleteModalId(long userId)
    {
        return "#deleteModal" + userId;
    }

    string GetModalId(long userId)
    {
        //The same as GetDeleteModalId but without #
        return "deleteModal" + userId;
    }
}

