@model Customer

@{
    ViewData["Title"] = "Profile Page";
}

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form id="completeProfileForm" method="post">
                <h2>Manage your account</h2>
                <p>Change your account settings</p>
            <hr />
        </form>
    </div>
</div>
